<div class="container">
	<div class="row">    
		<div class="col-sm-3">
				<img src="<%= @current_user.image %>" class="img-responsive img-circle" width="200px"/>
				<div class= "container-fluid" id="user_info">
				<h2>Hi, <%= @current_user.username %></h2>
				<h5>Member since:<br> <%= localize(@current_user.created_at, :format => '%m/%d/%Y') %></h5>

				<% if @current_user.id == session[:user_id] %>
				 <%= link_to "Edit", edit_user_path(@current_user), class: "btn btn-success" %> 
				<% end %>
			</div> 

		</div>
			<div class="col-sm-8">
				<div>
				<a href="javascript:void(0)" class="status">
					
					<% if current_user.status == "nil" || current_user.status == nil %>
					<span class="btn btn-success touch">online</span>
					<% else %>
					<span class="btn btn-danger touch">offline</span>
					<% end %>
				</a>
			</div>
				
			</div>
		</div>
	</div>
</div>