<div class="jumbotron" id="header-jumbotron">
  <div class='container-fluid animated bounceInUp' id='head'>
    <h2>unlock</h2>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div class='container-fluid animated pulse' id='head-tag'>
    <h2>Your Coding Challanges.</h2>
  </div>
</div>
<div class="container-fluid">
  <div class="row col-sm-8 col-sm-offset-2 ">
    <% @user.each do |u| %>
      <div class="well row animated bounceInUp">
        <%= image_tag u.avatar.url(:medium) %>
          <h3><%= u.username %><h3>
          <h4><%= u.info %></h4>
           
          <div class="pull right">
            <%= link_to "Get Help Now", user_path(u), class: "btn btn-info" %>
          </div>
    </div>
<% end %>
</div>
</div>


