<div class="col-md-12 header-title" id="landing-img">
    <div class="container-fluid">
      <h1 class="logo" id="site-title">UnLock</h1>
      <h2 class="tag-line header-title-hgroup" id="tagline">Unlock your Coding Challanges.</h2>
    </div>
</div>

<div class="container-fluid">
  <div class="row text center col-xs-6">
    <% @user.each do |u| %>
      <div class="well row animated bounceInUp">
        <div class="col-xs-8">
        <img src="<%= u.image %>" class="img-responsive img-circle" width="90px"/>
          <h3><%= u.username %><h3>
          <p><%= u.info %></p>
           
          <div class="pull right">
            <%= link_to "View Mentor", user_path(u), class: "btn btn-info" %>
          </div>
        </div>
    </div>
<% end %>
</div>
</div>


